<h3><%= @current_group.group_name %></h3>
<h5><a href="/groups/<%= @current_group.id %>/leave_group">Leave Group</a></h5>
<h5><a href="/users/<%= @current_user.id %>">Dashboard</a></h5>
<h6><%= @current_group.description %></h6>

<h6>Created By: YOU</h6>

<h6>Members:</h6>